<div class="box">
   <div class="leftBox">
     <h3>{{ name }}</h3>
       <ul>
         <li>{{ description }}</li>
         <li>Updated {{ prettyDate updated_at }}</li>
       </ul>
   </div>
   <div class="rightBox">
     <ul>
     <li><span class="octicon octicon-git-branch">{{ forks_count }}</li>
     <li><span class="octicon octicon-star"></span> {{ stargazers_count }}</li>
     <li>{{ language }}</li>
     </ul>
   </div>
 </div>
